In [ ]:
#import all the packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req = requests.get(url)
print(req)
soup = BeautifulSoup(req.text,'html')
#print(soup.prettify())

<Response [200]>

In [ ]:
#find and findall
soup.find('span')   # find will give us the first span tag

In [ ]:
soup.findAll('span')

In [ ]:
soup.find('span',attrs={'class' : 'seller-type'}).text  #owner info

In [ ]:
soup.findAll('span',attrs={'class' : 'val'})

In [ ]:
soup.find('div',attrs={'class': 'title-line '}).strong.span.text   # bhk

'3 '

In [ ]:
soup.find('div',attrs={'data-type':'price-link'}).text   #price of aprt

' 1.6 Cr'

In [ ]:
soup.find('span',attrs={'itemprop':'addressLocality'}).text   # locality

'Manikonda'

In [ ]:
soup.find('td',attrs={'class' : 'size'}).text   # area of aprt

'2810 '

In [ ]:
soup.find('td',attrs={'class' : 'val'}).text   # construction status

'Under Construction'

In [ ]:
soup.find('td',attrs={'class':'lbl rate'}).text  # price per sqft

'5,699 / sq ft'

In [ ]:
own_info = soup.findAll('span',attrs={'class' : 'seller-type'})  #owner info
len(own_info)

20

In [ ]:
own_inf = [i.text for i in own_info]  # owner info
own_inf

In [ ]:
b_info = soup.findAll('div',attrs={'class': 'title-line '})   # bhk

In [ ]:
bhk_info = [i.strong.span.text.strip() for i in b_info]  #bhk info
bhk_info

In [ ]:
p_inf = soup.findAll('div',attrs={'data-type':'price-link'})  #price of aprt
p_info = [i.text.strip() for i in p_inf]
p_info

In [ ]:
loc_inf = soup.findAll('span',attrs={'itemprop':'addressLocality'})   # locality
loc_info = [i.text for i in loc_inf]
loc_info

['Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Serilingampally',
 'Sainikpuri',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Mallampet',
 'Hitech City',
 'Nanakramguda',
 'Manikonda',
 'Shaikpet']

In [ ]:
a_inf = soup.findAll('td',attrs={'class' : 'size'})   # area of aprt
ar_info = [i.text.strip() for i in a_inf]
ar_info

In [ ]:
con_st = soup.findAll('td',attrs={'class' : 'val'})   # construction status
con_status = [i.text for i in con_st]
con_status

In [ ]:
p_p_sqft = soup.findAll('td',attrs={'class':'lbl rate'})  # price per sqft
prc_pr_sqft = [i.text for i in p_p_sqft]
print(prc_pr_sqft)
print(len(prc_pr_sqft))

['5,699 / sq ft', '9,565 / sq ft', '4,400 / sq ft', '4,899 / sq ft', '4,600 / sq ft', '6,501 / sq ft', '15,000 / sq ft', '5,400 / sq ft', '3,555 / sq ft', '6,200 / sq ft', '6,304 / sq ft', '4,500 / sq ft', '5,500 / sq ft', '4,700 / sq ft', '4,700 / sq ft', '4,199 / sq ft', '8,290 / sq ft', '6,800 / sq ft', '5,699 / sq ft', '10,252 / sq ft']
20

In [ ]:
data = pd.DataFrame({'Owner_inf' : own_inf,
              'Bhk_info' : bhk_info,
              'Price' : p_info,
              'Locality' : loc_info,
              'Area_sqft' : ar_info,
              'Status' : con_status,
              'Price_Per_sqft' : prc_pr_sqft})

In [ ]:
data

   Owner_inf          Bhk_info  ...              Status  Price_Per_sqft
0    BUILDER                 3  ...  Under Construction   5,699 / sq ft
1    BUILDER                 2  ...       Ready to move   9,565 / sq ft
2    BUILDER                 2  ...  Under Construction   4,400 / sq ft
3    BUILDER                 2  ...  Under Construction   4,899 / sq ft
4    BUILDER                 3  ...  Under Construction   4,600 / sq ft
5    BUILDER                 3  ...  Under Construction   6,501 / sq ft
6    BUILDER                 4  ...  Under Construction  15,000 / sq ft
7    BUILDER                 3  ...  Under Construction   5,400 / sq ft
8    BUILDER  Residential Plot  ...                 New   3,555 / sq ft
9    BUILDER                 3  ...  Under Construction   6,200 / sq ft
10   BUILDER                 4  ...  Under Construction   6,304 / sq ft
11   BUILDER                 2  ...  Under Construction   4,500 / sq ft
12   BUILDER                 2  ...  Under Construction   5,500 / sq ft
13   BUILDER                 2  ...  Under Construction   4,700 / sq ft
14   BUILDER                 3  ...  Under Construction   4,700 / sq ft
15   BUILDER                 3  ...  Under Construction   4,199 / sq ft
16   BUILDER                 4  ...       Ready to move   8,290 / sq ft
17   BUILDER                 3  ...       Ready to move   6,800 / sq ft
18   BUILDER                 3  ...  Under Construction   5,699 / sq ft
19   BUILDER                 4  ...       Ready to move  10,252 / sq ft

[20 rows x 7 columns]

In [ ]:
data.to_csv('aprtment_data.csv',index=False)

In [ ]:

import time
import requests
from IPython.display import clear_output

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

ow = []   #
bhk = []
p = []
s = []
loc = []
st = []
pps = []

for i in range(1,11):
  time.sleep(3)

  print(f'Going to scrape data from {i} page')
  clear_output(wait=True)
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('span',attrs={'class':'seller-type'})
  for j in ow_info:
    ow.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

Going to scrape data from 10 page

In [ ]:
data = pd.DataFrame({'Owner_inf' :ow ,
              'Bhk_info' : bhk,
              'Price' : p,
              'Locality' : loc,
              'Area_sqft' : s,
              'Status' :st ,
              'Price_Per_sqft' : pps})

In [ ]:
data.to_csv('webscraped_data.csv',index=False)